@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: rgb(130, 130, 214);
    font-family: 'Open Sans';
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgba(255, 255, 255, 0);
    border-radius: 20px 0px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671);
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}